<!DOCTYPE html>
<html>
{% if (relevantAvg == -1) %}
{% set relevantMcopRate=-1 %}
{% else %}
{% set useOverriddenRelevantAvg = false if (relevantAvg >= 400) else true %}
{% set usedRelevantAvg = relevantAvg if (useOverriddenRelevantAvg == false) else 400 %}
{% set relevantMcopMultiplier=0 if (refAvg >= usedRelevantAvg) else (usedRelevantAvg - refAvg)/refAvg %}
{% set relevantMcopRate="%.3f"|format (relevantMcopMultiplier * 100)|float %}
{% endif %}

{% if (prevAvg == -1) %}
{% set prevMcopRate=-1 %}
{% else %}
{% set useOverriddenPrevAvg = false if (prevAvg >= 400) else true %}
{% set usedPrevAvg = prevAvg if (useOverriddenPrevAvg == false) else 400 %}
{% set prevMcopMultiplier=0 if (refAvg >= usedPrevAvg) else (usedPrevAvg - refAvg)/refAvg %}
{% set prevMcopRate="%.3f"|format (prevMcopMultiplier * 100)|float %}
{% endif %}

{% if (currAvg == -1) %}
{% set currMcopRate=-1 %}
{% else %}
{% set useOverriddenCurrAvg = false if (currAvg >= 400) else true %}
{% set usedCurrAvg = currAvg if (useOverriddenCurrAvg == false) else 400 %}
{% set currMcopMultiplier=0 if (refAvg >= usedCurrAvg) else (usedCurrAvg - refAvg)/refAvg %}
{% set currMcopRate="%.3f"|format (currMcopMultiplier * 100)|float %}
{% endif %}

<head>
    <title>M.C.O.P. Calculator</title>
	<link rel="shortcut icon" href="#" />
	<style>
		body, p {
			text-align: center;
			padding: 0px;
			margin: 5px;
			background-color: antiquewhite;
		}
		table, td {
			margin-left: auto;
			margin-right: auto;
			border: 1px solid black;
			border-collapse: collapse;
			text-align: left;
			padding: 5px;
		}
		th {
			background-color: burlywood;
			text-align: center;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;
			padding-right: 10px;
		}
		.BIG {
		 	font-weight: bold;
		 	font-size: 100px;
		}
		.BIG.RED {
		  	color: crimson;
		}
		.MEDIUM {
		  	font-weight: bold;
		  	font-size: 35px;
		}
		table, .SMALL {
		  	font-weight: lighter;
		  	font-size: 20px;
		}
		.SMALL.RED {
		  	font-weight: bold;
			color: crimson;
		}
	</style>
</head>

<body>
	<p class="SMALL RED">NOTE: The real value is calculated by the Finance Department, their calculation is the relevant, not this one!</p>
	<table>
		<thead>
			<tr>
				<th>MONTH</th>
				<th>HUF/EUR</th>
				<th>M.C.O.P.</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<b>{{refYear}}. {{refMonth}} (reference month)</b>
				</td>
				<td class="SMALL RED">
					{{"%.2f"|format (refAvg)}}
				</td>
				<td></td>
				<td rowspan="4" style="vertical-align:bottom;">
					<i>can be partial!</i>
				</td>
			</tr>
			<tr>
				<td>
					<b>{{relevantYear}}. {{relevantMonth}} (relevant month)</b>
				</td>
				<td class="SMALL RED">
					{% if relevantAvg==-1 %}
						N/A
					{% else %}
						{{"%.2f"|format (relevantAvg)}}
						{% if (useOverriddenRelevantAvg) %}
							(Overridden to 400!)
						{% endif %}
					{% endif %}
				</td>
				<td class="SMALL RED">{% if relevantAvg==-1 %}N/A{% else %}{{relevantMcopRate}}{% endif %}</td>
			</tr>
			<tr>
				<td>
					{{prevYear}}. {{prevMonth}} (previous month)
				</td>
				{% if prevAvg==-1 %}
					<td class="SMALL RED">N/A</td>
				{% else %}
					<td>
						{{"%.2f"|format (prevAvg)}}
						{% if (useOverriddenPrevAvg) %}
							(Overridden to 400!)
						{% endif %}
					</td>
				{% endif %}
				<td>{% if prevAvg==-1 %}N/A{% else %}{{prevMcopRate}}{% endif %}</td>
			</tr>
			<tr>
				<td>
					<i>{{currYear}}. {{currMonth}} (actual month)</i>
				</td>
					{% if currAvg==-1 %}
						<td><i>N/A</i></td>
					{% else %}
						<td>
							<i>{{"%.2f"|format (currAvg)}}</i>
							{% if (useOverriddenCurrAvg) %}
								(Overridden to 400!)
							{% endif %}
						</td>
					{% endif %}
				
				<td><i>{% if currAvg==-1 %}N/A{% else %}{{currMcopRate}}{% endif %}</i></td>
			</tr>
		</tbody>
	</table>
	<p class="MEDIUM">Monthly Currency Offset Payment Rate for {{currYear}}. {{currMonth}} is:</p> <p class="BIG RED">{% if relevantAvg==-1 %}N/A{% else %}{{relevantMcopRate}}%{% endif %}</p>
	{% if relevantAvg !=-1 %}
		<table>
			{%set amounts = [100, 500, 800, 1000, 1200, 1500, 2000]%}
			{% for amount in amounts %}
			{% if loop.index0 == 0 %}
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td><b>Current Month</b></td>
					<td>Next Month</td>
					<td><i>After Next Month (est.!)</i></td>
				</tr>
			{% endif %}
			<tr>
				{% if loop.index0 == 0 %}
				<td rowspan="{{amounts|length}}"><b>For {</b></td>
				{% endif %}
				<td><b>{{"{:,}".format(amount * 1000)}} HUF</b></td>
				{% if loop.index0 == 0 %}
				<td rowspan="{{amounts|length}}"><b>} the Monthly Currency Offset Payment is: {</b></td>
				{% endif %}
				<td><b>{% if relevantMcopRate==-1 %}N/A{% else %} {{ "{:,}".format((amount * 10 * relevantMcopRate)|round|int)}} HUF{% endif %} </b></td>
				<td>{% if prevMcopRate==-1 %}N/A{% else %} {{ "{:,}".format((amount * 10 * prevMcopRate)|round|int)}} HUF{% endif %} </td>
				<td><i>{% if currMcopRate==-1 %}N/A{% else %}{{ "{:,}".format((amount * 10 * currMcopRate)|round|int)}} HUF{% endif %}</i></td>
			</tr>
			{% endfor %}
		</table>
	{% endif %}
	<p>©<a href="mailto:daneedtools@gmail.com" target="_blank">Daniel Serly</a> | <a href="https://github.com/daneed/MontlyCurrencyOffsetPayment" target="_blank">GitHub</a></p>
	<p class="SMALL RED">NOTE: The real value is calculated by the Finance Department, their calculation is the relevant, not this one!</p>
</body>

</html>
